<!DOCTYPE html>
<html>
<head>
<%= render partial: 'layouts/errors', locals: {object: @user}  %>
<h1>Log In </h1>
<%= flash[:error] %>
</head>
<body>
<%= form_for @user, url: '/login' do |u|%>

  <br> <%=  u.label :username%> 
    <%= u.text_field :name%>
     
    <%= u.label :email%>
    <%= u.email_field :email%>

    <%= u.label :password%>
    <%= u.password_field :password%>

    <%= u.submit "Log In"%>
<%end%>
<%= yield %>
</body>
 
<style>

h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
</style>

</html>




