<head>
<%= render partial: 'layouts/errors', locals: {object: @user}  %>
<h1>Sign up Below</h1>
</head>
<body>
<%= form_for @user do |u|%>

    <%=  u.label :username%>
    <%= u.text_field :name%>
     
    <%= u.label :email%>
    <%= u.email_field :email%>

    <%= u.label :password%>
    <%= u.password_field :password%>

    <%= u.submit "Sign Up"%>
<%end%>
<%= yield %>
</body>
<style>
h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
</style>