  <h1>All the Reviews </h1>
<br><br>
  
<br>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:Review, "Search for review by category here:") %>    
  <%= select_tag "categories", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
   <%= submit_tag("Search") %>
<% end %>
<br><br>
<% if !@reviews.present?  %>
  <strong> Sorry you don't have any reviews yet!</strong>
   <%else%>
<% @reviews.each do |r|%>
  <br><br>
  <%= r.place.name%> - <%= r.place.category.name%>
  <br><br><br>
  User <%= r.user.name%> - <%= r.description%> 
  <br>
  

  <%end%>
  <%end%>
