<head>  
  <h1>All Reviews </h1>
<br><br>
<style>
</style>
</head>
<body>
<br>
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:Review, "Search for review by category here:") %>    
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), include_blank: true %>
   <%= submit_tag("Search") %>
<% end %>
<br><br>
<% if !@reviews.present?  %>
  <strong> Sorry you don't have any reviews yet!</strong>
   <%else%>
<% @reviews.each do |r|%>
  <br><br>
  <%= r.place.name%> - <%= r.place.category.name%>
  <br><br><br>
  User <%= r.user.name%> - Review:<%= r.description%> - Rating:<%= r.rating%> 
  <br>
  <%end%>
  <%end%>
  <%= yield %>
  </body>
  <style>
   h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
  </style>
  
  

  