  <head>
    <% @reviews.each do |r|%>
   <h1><%= r.user.name%>'s Reviews for the <%= r.place.category.name%> category</h1>
    <br><br>
    </head>
    <body>
    <%= r.place.name%> - <%= r.place.category.name%>
    <br><br><br>
    User <%= r.user.name%> - <%= r.description%> 
    <br>
    <%end%>
    <%= yield %>
    </body>

    