
<!DOCTYPE html>
<html>
<head>
<%= render partial: 'layouts/errors', locals: {object: @place}  %>
<style>
    </style>
  </head>
  <body>
<%= form_for(@place) do |f|%> 
    <div>
      <%= f.label :name %>:
      <%= f.text_field :name %>
      <br><br><br>
      <%= f.label :description_of_place %>:<br>
      <%= f.text_area :description%>
      <br><br><br>
      <%= f.label :overall_rating %>:
      <%= f.number_field :overall_rating,min:0, max:5%>
    </div>
    <br><br><br>
    <%= f.fields_for :category do |t| %>
      <%= t.label :name, "Your places category" %>:
      <%= t.text_field :name, list: 'name' %>
      <datalist id="name">
        <% Category.all.each do |c| %>
          <option value="<%= c.name %>"></option>
        <% end %>
      </datalist>
      <br><br><br>
     
    <%= f.submit  %>  
  <% end %>
  <% end %>
<%= yield %>
</body>
</html>
