<h1><%= @place.name%>  </h1>


<h2> <%= @place.description %> </h2>


<%= link_to "Edit #{@place.name}", edit_place_path(@place) if @place.user == current_user%>

<br></br>

<!DOCTYPE html>
<html>
<head>
<%= link_to "See all Reviews", place_reviews_path(@place) %>
<style>
    </style>
  </head>
  <body>
<%= yield %>
</body>
</html>
