<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    </head>

  <body>
    <% if logged_in? %>
    <nav class="navbar">
      <%= link_to 'Log Out', logout_path, method: :delete %>
      <%= link_to 'All Reviews', reviews_path%>
      <%= link_to "Add a Place", new_place_path %> 
      <% link_to 'New Review', new_review_path %>
      <%= link_to 'All Places', places_path %>
      <%= link_to "Home", user_path(:user_id) %> 

    </nav>
    <% end %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
  <br>
  <footer class="branding">
        <small>&copy; 2020 <strong>Pledge Davis</strong></small>
</footer>

<style>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
}  
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;  

}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navbar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

</style>
</html>




